In [1]:
import pandas
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline

In [2]:
train_df = pd.read_csv("Data_sets/train.csv")
test_df = pd.read_csv("Data_sets/test.csv")

# Clean the Train Dataset

In [3]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
print(train_df.dtypes)

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [6]:
train_df.columns.to_list()

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [7]:
aa = train_df.isnull().sum()
aa[aa>0].sort_values(ascending=False)

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
FireplaceQu      690
LotFrontage      259
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtExposure      38
BsmtFinType2      38
BsmtFinType1      37
BsmtCond          37
BsmtQual          37
MasVnrArea         8
MasVnrType         8
Electrical         1
dtype: int64

In [8]:
train_df['SalePrice'].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [9]:
clean_data_df = { 'Id': 'Id',
                 'HouseStyle': 'HouseStyle',
                 'BedroomAbvGr': '# of Bedrooms',
                 'FullBath': 'Full Bath',
                 'HalfBath': 'Half Bath',
                 'GarageType': 'Garage Type',
                 'GrLivArea': 'LivingArea Sqft',
                 '1stFlrSF': '1stFloor Sqft',
                 '2ndFlrSF':'2ndFloor Sqft' ,
                 'LotConfig': 'Lot Location',
                 'YearBuilt': 'YearBuilt',
                 'YearRemodAdd': 'Year Remodeled',
                 'Exterior1st': '1stExterior',
                 'Exterior2nd': '2ndExterior',
                 'MasVnrType': 'Masonry Veneer Type',
                 'Neighborhood': 'Neighborhood',
                 'OverallQual': 'Overall Quality',
                 'OverallCond': 'Overall Condition',
                 'SaleCondition': 'Sale Condition',
                 'SalePrice': 'Sale Price'
    
}
train_df.rename(columns =clean_data_df, inplace = True)
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,Sale Condition,Sale Price
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
#Filter the train DataFrame for specific columns.
clean_train_df = train_df[[
    'Id','HouseStyle','# of Bedrooms','Full Bath','Half Bath','Garage Type',
    'LivingArea Sqft','1stFloor Sqft','2ndFloor Sqft' ,'Lot Location','YearBuilt',
    'Year Remodeled','1stExterior','2ndExterior','Masonry Veneer Type','Neighborhood',
    'Overall Quality','Overall Condition','Sale Condition', 'Sale Price'
    ]]

clean_train_df

,Id,HouseStyle,# of Bedrooms,Full Bath,Half Bath,Garage Type,LivingArea Sqft,1stFloor Sqft,2ndFloor Sqft,Lot Location,YearBuilt,Year Remodeled,1stExterior,2ndExterior,Masonry Veneer Type,Neighborhood,Overall Quality,Overall Condition,Sale Condition,Sale Price
0,1,2Story,3,2,1,Attchd,1710,856,854,Inside,2003,2003,VinylSd,VinylSd,BrkFace,CollgCr,7,5,Normal,208500
1,2,1Story,3,2,0,Attchd,1262,1262,0,FR2,1976,1976,MetalSd,MetalSd,None,Veenker,6,8,Normal,181500
2,3,2Story,3,2,1,Attchd,1786,920,866,Inside,2001,2002,VinylSd,VinylSd,BrkFace,CollgCr,7,5,Normal,223500
3,4,2Story,3,1,0,Detchd,1717,961,756,Corner,1915,1970,Wd Sdng,Wd Shng,None,Crawfor,7,5,Abnorml,140000
4,5,2Story,4,2,1,Attchd,2198,1145,1053,FR2,2000,2000,VinylSd,VinylSd,BrkFace,NoRidge,8,5,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,2Story,3,2,1,Attchd,1647,953,694,Inside,1999,2000,VinylSd,VinylSd,None,Gilbert,6,5,Normal,175000
1456,1457,1Story,3,2,0,Attchd,2073,2073,0,Inside,1978,1988,Plywood,Plywood,Stone,NWAmes,6,6,Normal,210000
1457,1458,2Story,4,2,0,Attchd,2340,1188,1152,Inside,1941,2006,CemntBd,CmentBd,None,Crawfor,7,9,Normal,266500
1458,1459,1Story,2,1,0,Attchd,1078,1078,0,Inside,1950,1996,MetalSd,MetalSd,None,NAmes,5,6,Normal,142125
1459,1460,1Story,3,1,1,Attchd,1256,1256,0,Inside,1965,1965,HdBoard,HdBoard,None,Edwards,5,6,Normal,147500

In [11]:
clean_train_df.columns[clean_train_df.dtypes == object]

Index(['HouseStyle', 'Garage Type', 'Lot Location', '1stExterior',
       '2ndExterior', 'Masonry Veneer Type', 'Neighborhood', 'Sale Condition'],
      dtype='object')

In [12]:
clean_train_df.isnull().sum()[clean_train_df.isnull().sum()>0]

Garage Type            81
Masonry Veneer Type     8
dtype: int64

In [13]:
overall_features = clean_train_df[['Overall Quality', 'Overall Condition']]
display(overall_features.info())
display(overall_features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Overall Quality    1460 non-null   int64
 1   Overall Condition  1460 non-null   int64
dtypes: int64(2)
memory usage: 22.9 KB

None

   Overall Quality  Overall Condition
0                7                  5
1                6                  8
2                7                  5
3                7                  5
4                8                  5

In [14]:
#filling in other missing values 
cols = ["Garage Type", "Masonry Veneer Type"]
for col in cols:
    clean_train_df[col].fillna(0, inplace=True)

/Users/adebolaayilumo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [15]:
clean_train_df.isnull().sum()[clean_train_df.isnull().sum()>0]

Series([], dtype: int64)

In [16]:
clean_train_df['HouseStyle'].value_counts().to_frame()

        HouseStyle
1Story         726
2Story         445
1.5Fin         154
SLvl            65
SFoyer          37
1.5Unf          14
2.5Unf          11
2.5Fin           8

In [17]:
clean_train_df

,Id,HouseStyle,# of Bedrooms,Full Bath,Half Bath,Garage Type,LivingArea Sqft,1stFloor Sqft,2ndFloor Sqft,Lot Location,YearBuilt,Year Remodeled,1stExterior,2ndExterior,Masonry Veneer Type,Neighborhood,Overall Quality,Overall Condition,Sale Condition,Sale Price
0,1,2Story,3,2,1,Attchd,1710,856,854,Inside,2003,2003,VinylSd,VinylSd,BrkFace,CollgCr,7,5,Normal,208500
1,2,1Story,3,2,0,Attchd,1262,1262,0,FR2,1976,1976,MetalSd,MetalSd,None,Veenker,6,8,Normal,181500
2,3,2Story,3,2,1,Attchd,1786,920,866,Inside,2001,2002,VinylSd,VinylSd,BrkFace,CollgCr,7,5,Normal,223500
3,4,2Story,3,1,0,Detchd,1717,961,756,Corner,1915,1970,Wd Sdng,Wd Shng,None,Crawfor,7,5,Abnorml,140000
4,5,2Story,4,2,1,Attchd,2198,1145,1053,FR2,2000,2000,VinylSd,VinylSd,BrkFace,NoRidge,8,5,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,2Story,3,2,1,Attchd,1647,953,694,Inside,1999,2000,VinylSd,VinylSd,None,Gilbert,6,5,Normal,175000
1456,1457,1Story,3,2,0,Attchd,2073,2073,0,Inside,1978,1988,Plywood,Plywood,Stone,NWAmes,6,6,Normal,210000
1457,1458,2Story,4,2,0,Attchd,2340,1188,1152,Inside,1941,2006,CemntBd,CmentBd,None,Crawfor,7,9,Normal,266500
1458,1459,1Story,2,1,0,Attchd,1078,1078,0,Inside,1950,1996,MetalSd,MetalSd,None,NAmes,5,6,Normal,142125
1459,1460,1Story,3,1,1,Attchd,1256,1256,0,Inside,1965,1965,HdBoard,HdBoard,None,Edwards,5,6,Normal,147500

In [18]:
exterior_features = clean_train_df[['1stExterior', '2ndExterior']]
display(exterior_features.info())
display(exterior_features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1stExterior  1460 non-null   object
 1   2ndExterior  1460 non-null   object
dtypes: object(2)
memory usage: 22.9+ KB

None

  1stExterior 2ndExterior
0     VinylSd     VinylSd
1     MetalSd     MetalSd
2     VinylSd     VinylSd
3     Wd Sdng     Wd Shng
4     VinylSd     VinylSd

In [19]:
bathroom_features = clean_train_df[['Full Bath', 'Half Bath']]
display(bathroom_features.info())
display(bathroom_features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Full Bath  1460 non-null   int64
 1   Half Bath  1460 non-null   int64
dtypes: int64(2)
memory usage: 22.9 KB

None

   Full Bath  Half Bath
0          2          1
1          2          0
2          2          1
3          1          0
4          2          1

In [20]:
clean_train_df.shape

(1460, 20)

In [21]:
clean_train_df.describe()

,Id,# of Bedrooms,Full Bath,Half Bath,LivingArea Sqft,1stFloor Sqft,2ndFloor Sqft,YearBuilt,Year Remodeled,Overall Quality,Overall Condition,Sale Price
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,2.866438,1.565068,0.382877,1515.463699,1162.626712,346.992466,1971.267808,1984.865753,6.099315,5.575342,180921.195890
std,421.610009,0.815778,0.550916,0.502885,525.480383,386.587738,436.528436,30.202904,20.645407,1.382997,1.112799,79442.502883
min,1.000000,0.000000,0.000000,0.000000,334.000000,334.000000,0.000000,1872.000000,1950.000000,1.000000,1.000000,34900.000000
25%,365.750000,2.000000,1.000000,0.000000,1129.500000,882.000000,0.000000,1954.000000,1967.000000,5.000000,5.000000,129975.000000
50%,730.500000,3.000000,2.000000,0.000000,1464.000000,1087.000000,0.000000,1973.000000,1994.000000,6.000000,5.000000,163000.000000
75%,1095.250000,3.000000,2.000000,1.000000,1776.750000,1391.250000,728.000000,2000.000000,2004.000000,7.000000,6.000000,214000.000000
max,1460.000000,8.000000,3.000000,2.000000,5642.000000,4692.000000,2065.000000,2010.000000,2010.000000,10.000000,9.000000,755000.000000

In [22]:
import numpy as np

In [24]:
sqft_df = clean_train_df[['1stFloor Sqft', '2ndFloor Sqft', 'Sale Price']]
sqft_df = sqft_df[~sqft_df['Sale Price'].isnull()]
sqft_vars = list(sqft_df)
del sqft_vars[-1]

sqft_summary = []

for sqft_type in sqft_vars:
    corr_val = np.corrcoef(sqft_df[sqft_type], sqft_df['Sale Price'])[1][0]
    sqft_summary.append(corr_val)
    
pd.DataFrame([sqft_summary], columns=sqft_vars, index=['SalePrice Correlation'])

                       1stFloor Sqft  2ndFloor Sqft
SalePrice Correlation       0.605852       0.319334

# Clean the Test Dataset

In [32]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [33]:
test_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [34]:
clean_testdata_df = { 'Id': 'Id',
                 'HouseStyle': 'HouseStyle',
                 'BedroomAbvGr': '# of Bedrooms',
                 'FullBath': 'Full Bath',
                 'HalfBath': 'Half Bath',
                 'GarageType': 'Garage Type',
                 'GrLivArea': 'LivingArea Sqft',
                 '1stFlrSF': '1stFloor Sqft',
                 '2ndFlrSF':'2ndFloor Sqft' ,
                 'LotConfig': 'Lot Location',
                 'YearBuilt': 'YearBuilt',
                 'YearRemodAdd': 'Year Remodeled',
                 'Exterior1st': '1stExterior',
                 'Exterior2nd': '2ndExterior',
                 'MasVnrType': 'Masonry Veneer Type',
                 'Neighborhood': 'Neighborhood',
                 'OverallQual': 'Overall Quality',
                 'OverallCond': 'Overall Condition',
                 'SaleCondition': 'Sale Condition'
    
}
test_df.rename(columns =clean_testdata_df, inplace = True)
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,Sale Condition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [35]:
clean_test_df = test_df[[
    'Id','HouseStyle','# of Bedrooms','Full Bath','Half Bath','Garage Type',
    'LivingArea Sqft','1stFloor Sqft','2ndFloor Sqft' ,'Lot Location','YearBuilt',
    'Year Remodeled','1stExterior','2ndExterior','Masonry Veneer Type','Neighborhood',
    'Overall Quality','Overall Condition','Sale Condition'
    ]]

In [36]:
clean_test_df

,Id,HouseStyle,# of Bedrooms,Full Bath,Half Bath,Garage Type,LivingArea Sqft,1stFloor Sqft,2ndFloor Sqft,Lot Location,YearBuilt,Year Remodeled,1stExterior,2ndExterior,Masonry Veneer Type,Neighborhood,Overall Quality,Overall Condition,Sale Condition
0,1461,1Story,2,1,0,Attchd,896,896,0,Inside,1961,1961,VinylSd,VinylSd,None,NAmes,5,6,Normal
1,1462,1Story,3,1,1,Attchd,1329,1329,0,Corner,1958,1958,Wd Sdng,Wd Sdng,BrkFace,NAmes,6,6,Normal
2,1463,2Story,3,2,1,Attchd,1629,928,701,Inside,1997,1998,VinylSd,VinylSd,None,Gilbert,5,5,Normal
3,1464,2Story,3,2,1,Attchd,1604,926,678,Inside,1998,1998,VinylSd,VinylSd,BrkFace,Gilbert,6,6,Normal
4,1465,1Story,2,2,0,Attchd,1280,1280,0,Inside,1992,1992,HdBoard,HdBoard,None,StoneBr,8,5,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,2Story,3,1,1,NaN,1092,546,546,Inside,1970,1970,CemntBd,CmentBd,None,MeadowV,4,7,Normal
1455,2916,2Story,3,1,1,CarPort,1092,546,546,Inside,1970,1970,CemntBd,CmentBd,None,MeadowV,4,5,Abnorml
1456,2917,1Story,4,1,0,Detchd,1224,1224,0,Inside,1960,1996,VinylSd,VinylSd,None,Mitchel,5,7,Abnorml
1457,2918,SFoyer,3,1,0,NaN,970,970,0,Inside,1992,1992,HdBoard,Wd Shng,None,Mitchel,5,5,Normal
1458,2919,2Story,3,2,1,Attchd,2000,996,1004,Inside,1993,1994,HdBoard,HdBoard,BrkFace,Mitchel,7,5,Normal

In [37]:
clean_test_df.columns[clean_test_df.dtypes == object]

Index(['HouseStyle', 'Garage Type', 'Lot Location', '1stExterior',
       '2ndExterior', 'Masonry Veneer Type', 'Neighborhood', 'Sale Condition'],
      dtype='object')

In [38]:
clean_test_df.isnull().sum()[clean_test_df.isnull().sum()>0]

Garage Type            76
1stExterior             1
2ndExterior             1
Masonry Veneer Type    16
dtype: int64

In [40]:
overall_features = clean_test_df[['Overall Quality', 'Overall Condition']]
display(overall_features.info())
display(overall_features.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Overall Quality    1459 non-null   int64
 1   Overall Condition  1459 non-null   int64
dtypes: int64(2)
memory usage: 22.9 KB

None

   Overall Quality  Overall Condition
0                5                  6
1                6                  6
2                5                  5
3                6                  6
4                8                  5

In [41]:
#filling in other missing values 
cols = ["Garage Type", "Masonry Veneer Type"]
for col in cols:
    clean_test_df[col].fillna(0, inplace=True)

/Users/adebolaayilumo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [42]:
# fill in with mode
cols2 = ['1stExterior','2ndExterior']
for col in cols2:
    clean_test_df[col].fillna(clean_test_df[col].mode()[0], inplace=True)

In [43]:
clean_test_df.isnull().sum()[clean_test_df.isnull().sum()>0]

Series([], dtype: int64)

In [44]:
clean_test_df

,Id,HouseStyle,# of Bedrooms,Full Bath,Half Bath,Garage Type,LivingArea Sqft,1stFloor Sqft,2ndFloor Sqft,Lot Location,YearBuilt,Year Remodeled,1stExterior,2ndExterior,Masonry Veneer Type,Neighborhood,Overall Quality,Overall Condition,Sale Condition
0,1461,1Story,2,1,0,Attchd,896,896,0,Inside,1961,1961,VinylSd,VinylSd,None,NAmes,5,6,Normal
1,1462,1Story,3,1,1,Attchd,1329,1329,0,Corner,1958,1958,Wd Sdng,Wd Sdng,BrkFace,NAmes,6,6,Normal
2,1463,2Story,3,2,1,Attchd,1629,928,701,Inside,1997,1998,VinylSd,VinylSd,None,Gilbert,5,5,Normal
3,1464,2Story,3,2,1,Attchd,1604,926,678,Inside,1998,1998,VinylSd,VinylSd,BrkFace,Gilbert,6,6,Normal
4,1465,1Story,2,2,0,Attchd,1280,1280,0,Inside,1992,1992,HdBoard,HdBoard,None,StoneBr,8,5,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,2Story,3,1,1,0,1092,546,546,Inside,1970,1970,CemntBd,CmentBd,None,MeadowV,4,7,Normal
1455,2916,2Story,3,1,1,CarPort,1092,546,546,Inside,1970,1970,CemntBd,CmentBd,None,MeadowV,4,5,Abnorml
1456,2917,1Story,4,1,0,Detchd,1224,1224,0,Inside,1960,1996,VinylSd,VinylSd,None,Mitchel,5,7,Abnorml
1457,2918,SFoyer,3,1,0,0,970,970,0,Inside,1992,1992,HdBoard,Wd Shng,None,Mitchel,5,5,Normal
1458,2919,2Story,3,2,1,Attchd,2000,996,1004,Inside,1993,1994,HdBoard,HdBoard,BrkFace,Mitchel,7,5,Normal

# Connect Pandas to Postgres

In [ ]:
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [ ]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/train_data"

In [ ]:
engine = create_engine(db_string)

In [ ]:
clean_train_df.to_sql(name='train', con=engine)

In [ ]:
clean_test_df.to_sql(name='train', con=engine)