In [43]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline

In [44]:
train_df = pd.read_csv("Data_sets/train.csv")
test_df = pd.read_csv("Data_sets/test.csv")

# Clean the Train Dataset

In [45]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [46]:
print(train_df.dtypes)

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [47]:
train_df.columns.to_list()

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [48]:
#Filter the movies DataFrame for specific columns.

train_df.drop(
    'MSSubClass','Street','Alley','LotShape','LandContour','Utilities',
    'LandSlope','Condition1','Condition2','RoofStyle',
    'RoofMatl','Exterior1st','Exterior2nd','MasVnrType','MasVnrArea',
    'ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond',
    'BsmtExposure','BsmtFinType1','BsmtFinSF1','BsmtFinType2','BsmtFinSF2',
    'BsmtUnfSF','TotalBsmtSF','Heating','HeatingQC','CentralAir','Electrical',
    '1stFlrSF','2ndFlrSF','LowQualFinSF','GrLivArea','BsmtFullBath',
    'BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr',
    'KitchenQual','TotRmsAbvGrd','Functional','Fireplaces','FireplaceQu',
    'GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea',
    'GarageQual','GarageCond','PavedDrive','WoodDeckSF','OpenPorchSF',
    'EnclosedPorch','3SsnPorch','ScreenPorch','PoolArea','PoolQC','Fence',
    'MiscFeature','MiscVal', 'MoSold','YrSold')

TypeError: drop() takes from 1 to 8 positional arguments but 67 were given

In [53]:
train_df.drop(train_df.columns[1:4], axis=1)

,Id,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [63]:
train_df.drop(train_df.columns[1:10], axis=1)

,Id,LotConfig,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,Inside,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,FR2,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,Inside,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,Corner,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,FR2,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,Inside,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,Inside,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,Inside,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,Inside,NAmes,Norm,Norm,1Fam,1Story,5,6,1950,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,Inside,Edwards,Norm,Norm,1Fam,1Story,5,6,1965,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [6]:
train_df['HouseStyle'].value_counts().to_frame()

        HouseStyle
1Story         726
2Story         445
1.5Fin         154
SLvl            65
SFoyer          37
1.5Unf          14
2.5Unf          11
2.5Fin           8

# Clean the Test Dataset

In [7]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [8]:
test_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

# Connect Pandas to Postgres

In [74]:
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [75]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/train_data"

In [76]:
engine = create_engine(db_string)